html{
  height: 100%;
}
body{
  font-family: Helvetica;
  background-color:#141516;
  margin: 0%;
  height: 100%;
}
#Meny{
  width: 100%;
  padding-right : 0%;
  letter-spacing: 5px;
  color: white;
  margin-left:0%;
  color: #edeff2;
  display: none;
}
#hem{
  letter-spacing: 2px;
  padding-right: 1%;
  color: #edeff2;
  margin-left: 45%;
  text-decoration: underline;
  display: none;
}
#Tjänster{
  letter-spacing: 2px;
  padding-right: 1%;
  color: #edeff2;
  text-decoration: underline;
  display: none;
}
#Kontakt{
  letter-spacing: 2px;
  padding-right: 1%;
  color: #edeff2;
  text-decoration: underline;
  display: none;
}
nav{
  background-color:#141516;
  width: 100%;
  height: 10%;
  position: fixed;
  display: flex;
  top: 0%;
  color: #3f4042;
  padding-right: 10%;
  opacity: 0.5;
}
#förälder{
  height: 300%;
}
#ruta{
  width: 100%;
  height:50%;
  display:flex;
}
#ruta1{
  color: #dbdbdb;
  width: 20%;
  height: 60%;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 2%;
  line-height: 1.6;
  border-style: solid;
}
#ruta2{
  color: #dbdbdb;
  margin-top: 10%;
  margin-left: 45%;
  margin-right: 3%;
  width: 20%;
  height: 60%;
  line-height: 1.6;
  border-style: solid;
}
#enhet{
  width: 100%;
  height:100;
  display: flex;
}
#box{
  width: 45%;
  height: 280px;
  margin-left: -42.5%;
  margin-top: 1.5%;
  background: url(Enhet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#Text{
  margin-top: 450px;
  margin-left: 30%;
  width: 40%;
  height: 10%;
  color: #040405;
  line-height: 2;
  border-style: solid;
}
#parent{
  width: 100%;
  height: 100%;
}
#form{
  width: 25%;
  margin-left: 72%;
  line-height: 2;
}
#formulär{
  width: 25%;
  margin-top: -155px;
  margin-left: 5%;
  line-height: 2;
}
.responsive{
  height: auto;
  width: auto;
}
#mailadress{
padding-left: 20px;
padding-right: 20px;
border-style:groove;
background:white;
}
.respons{
  height: auto;
  width: auto;
}
#Första {
 width: 100%;
 text-align: center;
 height:34%;
 background-image: url("Messi.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
#andra{
  text-align: center;
  height:33%;
  background-color:#d8d6d6;
  margin-top: auto;
}
#tredje{
  text-align: center;
  height:33%;
  background-color:#d8d6d6;
}
@media screen and (max-width: 800px) {
#ruta{
    width: 100%;
    height: 100%;
  }
#ruta1{
  margin-left: 20%;
  margin-top: 428px;
  margin-bottom: 30%;
  width: 90%;
  height: 25%;
}
  #ruta2 {
    display: none;
}
  #Meny {
    font-size: 20px;
  }
  #hem {
    margin-left: auto;
    font-size: 18px;
    padding-left: 10px;
  }
  #Tjänster {
    font-size: 18px;
  }
  #Kontakt {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  #Text{
    margin-left: 5%;
    height: 10%;
    width: 92%;
    margin-top: 200px;
  }
  #hem {
    padding-left: 10px;
  }
  #Första {
   background-size: contain;
  }
}
@media screen and (max-width: 1360px) {
  #ruta1{
    height: 127%;
}
  #ruta2{
    height: 127%;
}
}
